 body {
     padding-top: 10px;
     background: #1e3150;
 }
 
 h1 i {
     font-size: 25px;
     padding: 5px;
 }
 
 #city-form {
     width: 30%;
     text-align: left;
     margin: 20px 100px;
 }
 
 h1 {
     color: white;
     text-align: left;
     margin: 5px 100px;
     font-size: 35px;
     font-family: "Bebas Neue", cursive;
     font-family: "Inter", sans-serif;
     font-weight: normal;
 }
 
 h2 {
     text-align: left;
     margin: 5px 100px;
     width: 100%;
     font-family: "Inter", sans-serif;
     font-size: 15px;
     color: white;
 }
 
 h3 {
     font-size: 25px;
     color: white;
     text-align: left;
     margin: 2px 100px 30px;
 }
 
 .col-3 p {
     color: white;
     display: block;
     text-align: center;
     font-size: 20px;
     border-radius: 30px;
     margin: 45px 0px 0px 0px;
 }
 
 .col-3 p1 {
     color: white;
     display: block;
     font-size: 20px;
     text-align: center;
     border-radius: 30px;
     margin: 45px 0px 0px 0px;
 }
 
 .col-3 p2 {
     color: white;
     display: block;
     text-align: center;
     font-size: 20px;
     border-radius: 30px;
     margin: 45px 0px 0px 0px;
 }
 
 .col-3 p3 {
     color: white;
     display: block;
     text-align: center;
     font-size: 20px;
     border-radius: 30px;
     margin: 45px 0px 0px 0px;
 }
 
 h4 {
     text-align: left;
     margin: 2px 100px;
     color: white;
 }
 
 #celcius-click {
     font-size: 21px;
     text-align: top;
     color: white;
     margin: 0px 0px 20px 0px;
 }
 
 #fahrenheit-click {
     font-size: 21px;
     text-align: top;
     color: white;
     margin: 0px 0px 20px 0px;
 }
 
 main {
     border-style: solid;
     width: 550px;
     height: 270px;
     border: 50px;
 }
 
 #city {
     font-size: 30px;
     color: white;
     padding: 0;
     margin: 2px 10px;
 }
 
 #temperature {
     font-size: 37px;
     color: white;
     text-align: left;
     margin: 2px 100px;
 }
 
 #description {
     font-size: 20px;
     color: white;
     text-align: left;
     margin: 2px 10px;
     text-transform: uppercase;
 }
 
 #search-text-input {
     margin: 80px 0px 0px 0px;
     height: 35px;
     width: 200px;
     font-size: 14pt;
     text-align: center;
 }
 
 #date {
     margin: 2px 10px;
 }
 
 p6 {
     text-align: left;
     margin: 10px 65px;
     color: white;
 }
 
 ul {
     margin: 0;
     padding: 0;
 }
 
 li {
     list-style: none;
     margin: 0;
     padding: 0;
     color: white;
     font-size 16px;
     font-weight 400;
     line-height 20px;
 }
 
 li:first-letter {
     text-transform: capitalize;
 }
 
 .weather-app-wrapper {
     max-width: 600px;
     margin: 30px auto;
 }
 
 .weather-app {
     padding: 20px;
     border: 1px solid #dadde1;
     border-radius: 5px;
 }
 
 .overview {
     margin-bottom: 20px;
 }
 
 .weather-temperature img {
     margin-right: 5px;
     height: 64px;
     width: 64px;
 }
 
 .weather-temperature strong {
     color: white;
     font-size: 64px;
     font-weight: 400;
     line-height: 1;
 }
 
 .weather-temperature .units {
     position: relative;
     font-size: 16px;
     top: -34px;
 }
 
 .weather-temperature .active {
     color: rgb(33, 33, 33);
     cursor: default;
     text-decoration: none;
 }
 
 .weather-temperature .active:hover {
     text-decoration: none;
 }